@inject IStringLocalizer<AppStrings> Localizer

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">@Localizer["AppTitle"]</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> @Localizer["NavHome"]
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <form method="post" action="api/auth/logout" class="d-inline w-100">
                        <button type="submit" class="nav-link btn btn-link text-start w-100" style="padding-left: 0;">
                            @Localizer["LogoutButton"]
                        </button>
                    </form>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="login">
                        @Localizer["LoginButton"]
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="register">
                        @Localizer["RegisterButton"]
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

